<?xml version='1.0' encoding='UTF-8'?>
<module xmlns="urn:jboss:module:1.5" name="com.mysql.driver">
  <resources>
    <!-- Indiquez le chemin vers le fichier jar du pilote -->
    <resource-root path="mysql-connector-java-5.1.46.jar" />
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
    <module name="javax.servlet.api" optional="true"/>
    <module name="javax.ws.rs.api" optional="true"/>
  </dependencies>
</module>